.payments__title-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.payments__buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    margin-top: 20px;
}
