.payment-form__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 40px;
}

.payment-form__buttons-container {
    grid-column: 2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.payment-form__title-input {
    grid-column: 1 / 3;
}
